[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dask = {extras = ["delayed"], version = "*"}
pandas = "*"
fastparquet = "*"

[dev-packages]

[requires]
python_version = "3.8"
